body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #ffbe76;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 30px;
    background: white;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgba(0,0,0.2);    
}

.circle {
    background: url(bg.jpg);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    float:left;
    shape-outside: circle();
    margin: 60px 30px 30px 0;
    background-size: cover;
}

p {
    margin: 0;
    padding: 0;
    text-align: justify;
    line-height: 22px;
}

h1 {
    margin: 0 0 20px;
    padding: 0;
    font-size: 30px;
}